/* Global Style */
@import url(./partials/_global.css);

/* Reusable Style */
@import url(./partials/_reusable.css);

/* Device Style */
@import url(./partials/_media.css);

/*Start header*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.logo {
  text-decoration: none;
  font-size: 4rem;
  letter-spacing: 3px;
  color: var(--secondary-color);
  font-weight: bold;
  transform: rotate(-15deg);
}

.logo:hover {
  transform: rotate(0deg);
  transition: 300ms transform ease-in-out;
}

.nav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  transition: height 0.5s ease;
}

.nav-list {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-left: 5rem;
  position: relative;
}

.nav-link::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  position: absolute;
  left: -2px;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--primary-color);
  margin: 6px;
  transition: all 0.4s ease;
}

.scrolling-active {
  background-color: var(--secondary-color);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active .nav {
  height: 6.5rem;
}

.scrolling-active .burger div {
  background-color: var(--support-color-two);
}

.scrolling-active .nav a {
  color: var(--support-color);
}

.scrolling-active .nav-link::after {
  background-color: var(--primary-color);
}

.landing {
  width: 100%;
  position: relative;
  top: 20%;
  border-left: 3.5px solid var(--secondary-color);
}

.landing h1,
.landing h3 {
  font-size: 4rem;
  font-weight: 300;
  margin-left: 2rem;
}

.landing h2 {
  font-size: 12rem;
  letter-spacing: 1rem;
  padding-top: 2rem;
  margin-left: 1rem;
}

.quote {
  position: relative;
  top: 37%;
  font-size: 2.5rem;
  text-align: center;
}
/*End header*/

/*Start about*/
.about .container {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 200%;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin: 6rem 0;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.4;
}

.about-heading h6 {
  font-size: 3rem;
  transform: translateY(-5px);
  font-weight: 300;
}
/*End about*/

/*Start work*/
.work-img img {
  width: 100%;
}

.work-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.work-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.work-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.6;
}

.work-description p {
  line-height: 3rem;
}

.work-description .cta {
  display: inline-block;
  margin-top: 2rem;
}
/*End work*/

/*Start timeline*/
.timeline ul {
  border-left: 4px solid #ffe838;
  border-radius: 2rem;
  margin: 0 auto;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.6;
}

.timeline p {
  line-height: 3rem;
}

.timeline .date {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -21.5rem;
  text-align: right;
  min-width: 14rem;
  font-size: 1.8rem;
}

.timeline .date::after {
  content: '';
  box-shadow: 0 0 0 3px var(--secondary-color);
  border-radius: 100%;
  left: -5.9rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--primary-color);
}
/*End timeline*/

/*Start contact*/
.hand img {
  margin-top: 3rem;
  width: 100px;
}

.hand img:hover {
  transform: rotate(50deg);
}

.contact a {
  margin-top: 5rem;
}
/*End contact*/

/*Start footer*/
.copy {
  width: 100%;
  text-align: center;
  background-color: var(--support-color);
  padding: 2rem 0;
  position: relative;
}

.copy p {
  padding-top: 5px;
  font-size: 1.6rem;
}

.social-media {
  margin-top: 2rem;
}

.social-media i {
  font-size: 4rem;
  padding: 7px;
  transition: color 650ms;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-linkedin:hover {
  color: #dd5143;
}

.fa-instagram:hover {
  color: #fe4164;
}

.fa-github:hover {
  color: #6cc644;
}

.social-media {
  margin: 0;
  padding: 0;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: var(--primary-color);
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: var(--support-color);
  font-size: 2rem;
  margin: auto;
}
/*End footer*/

/*Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}

@keyframes linksIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*End animations*/

/* Media */
@media (max-width: 1024px) {
  .logo {
    font-size: 4rem;
  }

  .landing h1,
  .landing h3 {
    font-size: 3rem;
  }

  .landing h2 {
    font-size: 10rem;
  }
}

@media (max-width: 900px) {
  .logo {
    font-size: 3.5rem;
  }

  .section-heading h1 {
    font-size: 5rem;
  }

  .burger {
    display: block;
    z-index: 2000;
  }

  .nav-list {
    background: var(--support-color);
    position: absolute;
    width: 100%;
    height: 500px;
    transform: translate(160%, 60%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }

  .nav-link {
    margin: 0;
  }

  .scrolling-active .nav-link {
    color: var(--primary-color) !important;
  }

  .nav-active {
    transform: translate(0, 60%);
  }

  .landing h1,
  .landing h3 {
    font-size: 3rem;
  }

  .landing h2 {
    font-size: 9rem;
  }

  .about .container {
    flex-direction: column;
    text-align: center;
  }

  .profile-img {
    width: 50%;
    margin-bottom: 8rem;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .about-heading h6 {
    font-size: 3rem;
  }

  .work-item {
    flex-direction: column;
  }

  .work-img,
  .work-img img {
    margin: 0 0 2rem 0;
    order: 1;
  }

  .work-description {
    text-align: center;
    margin: 0;
    order: 2;
  }

  .timeline ul {
    margin: 0 0 0 15rem;
  }

  .timeline .date::before {
    font-size: 2rem;
    left: -22.5rem;
  }

  .timeline .date::after {
    left: -6rem;
  }

  .social-media i {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .landing h2 {
    font-size: 8rem;
  }

  .landing h1,
  .landing h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 680px) {
  .landing h2 {
    font-size: 7rem;
  }

  .landing h1,
  .landing h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 620px) {
  .landing h2 {
    font-size: 6rem;
  }

  .landing h1,
  .landing h3 {
    font-size: 2rem;
  }
}

@media (max-width: 545px) {
  .landing h2 {
    font-size: 5.5rem;
  }

  .timeline ul {
    margin: 0 0 0 12rem;
  }
}

@media (max-width: 520px) {
  .landing h2 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .landing h1,
  .landing h3 {
    font-size: 2rem;
  }

  .landing h2 {
    font-size: 4rem;
    margin: 0 0 1.5rem 1.5rem;
  }

  .about .container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .about-heading h1 {
    margin-top: 5rem;
    font-size: 6rem;
    opacity: 0.3;
  }

  .about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
  }

  .section-heading h1 {
    font-size: 3rem;
  }

  .profile-img {
    margin: 0 auto;
  }

  .timeline p {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .timeline .date::before {
    font-size: 1.4rem;
  }

  .up {
    right: 3rem;
  }
}

@media screen and (max-width: 420px) {
  .landing h1,
  .landing h3 {
    font-size: 1.8rem;
  }

  .landing h2 {
    font-size: 3rem;
    margin: 0 0 1.5rem 1.5rem;
  }
}
