.container {
  width: 90%;
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1 {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading h1::before {
  width: 15rem;
  height: 2px;
  background-color: var(--secondary-color);
}

.section-heading h1::after {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  bottom: -1rem;
  background-color: var(--primary-color);
}

.section-heading h6 {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1.7rem;
}

.has-margin-right {
  margin-right: 2.5rem;
}

.has-margin-left {
  margin-left: 2rem;
}

.cta {
  background: none;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  padding: 10px 20px;
  letter-spacing: 2.5px;
}

.about-details a:hover,
.landing span:hover,
.work-description a:hover,
.timeline a:hover {
  color: var(--secondary-color);
  transition: color 0.4s linear;
}

button {
  margin-top: 3rem;
}

.cta:hover,
button:hover {
  box-shadow: 0 0 20px var(--primary-color);
}

.span-border-line {
  font-weight: bold;
  border-bottom: solid 1px;
}
